@import "../../_globalColor";

.card-image {
  // max-width: 100%;
  height: auto;
  width: 250px;
}
.card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
}
.project-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 2%;
}

.scroll-button {
  // position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  padding: 0.5rem;

  &.left {
    left: 0.5rem;
  }
  &.right {
    right: 0.5rem;
  }
}
.fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none;
  z-index: 5;

  &.left-fade {
    left: 0;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  }

  &.right-fade {
    right: 0;
    background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  }
}
.toggle-button {
  margin: 0.5rem auto;
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;

  &.expand {
    background-color: #4f46e5;
    margin-bottom: 1rem;
    color: #fff;

    &:hover {
      background-color: #4338ca;
    }
  }

  &.collapse {
    background-color: #e0e7ff;
    color: #1e3a8a;

    &:hover {
      background-color: #c7d2fe;
    }
  }
}
//   display: flex;
//   flex-direction: column;
//   background-color: $lightBackground2;
//   padding: 1.5rem;
//   border-radius: 10px;
//   border: 1px solid $lightBorder1;
//   justify-content: center;
// }
.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {
  text-align: center;
}
.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}
.project-image {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; // 가운데 정렬
  border: 2px solid #ccc;
  // box-shadow: 0 4px 6px darkblue;
}

.project-image img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
  object-fit: contain;
  // transform: scale(0.85);
  border-radius: 50%;
}
.platform-tag {
  display: inline-block;
  margin-left: 8px;
  padding: 2px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  color: white;
  vertical-align: middle;
}

// Web
.platform-tag.web {
  background-color: #f59e0b;
}

// App
.platform-tag.app {
  background-color: #10b981;
}

// ERP
.platform-tag.erp {
  background-color: #3b82f6;
}

// Windows
.platform-tag.windows {
  background-color: #6366f1; // 보라색
}
.projects-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  // scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  // optional: 스크롤바 없애기 (크롬/사파리)
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
// .project-scroll-wrapper {
//   position: relative;
//   // flex: 1;
//   // flex-direction: row;
//   overflow: hidden;
// }

.project-scroll-wrapper-dark {
  position: relative;
  display: flex;
  align-items: center;

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.left {
      left: -20px;
    }

    &.right {
      right: -20px;
    }
  }

  .fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    z-index: 2;

    &.left-fade {
      left: 0;
      background: linear-gradient(to right, #0d1117, transparent);
    }

    &.right-fade {
      right: 0;
      background: linear-gradient(to left, #0d1117, transparent);
    }
  }
}
.project-scroll-wrapper-white {
  position: relative;
  display: flex;
  align-items: center;

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1); // 연한 검정
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #333; // 텍스트 색상 어둡게
    cursor: pointer;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2); // 호버 시 조금 더 진하게
    }

    &.left {
      left: -20px;
    }

    &.right {
      right: -20px;
    }
  }

  .fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    z-index: 2;

    &.left-fade {
      left: 0;
      background: linear-gradient(to right, #ffffff, transparent); // 화이트 → 투명
    }

    &.right-fade {
      right: 0;
      background: linear-gradient(to left, #ffffff, transparent); // 화이트 → 투명
    }
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  // border: 1px solid black;

  &::-webkit-scrollbar {
    display: none; // 스크롤바 제거
  }
}

.projects-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
.project-more-detail {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  animation: fadeIn 0.5s ease-in-out;
}

.tech-tags-list {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tech-tag {
  background-color: #e0e7ff;
  color: #1e3a8a;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
}

.contribution-detail {
  margin-top: 0.3rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  white-space: pre-line;
}

.long-desc-detail {
  margin-top: 0.3rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  white-space: pre-line;
}

.more-image {
  width: 100%;
  max-height: 200px;
  margin-top: 0.5rem;
  object-fit: contain;
}
.toggle-button {
  margin-top: 1rem;
  margin-left: auto;
  display: block;
  padding: 6px 12px;
  font-size: 0.9rem;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #4f46e5;
  }
}
