.tools-section {
  margin-top: 3rem;
  text-align: center;
}

.tools-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.tools-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 1.5rem;
  font-size: 2rem;
  color: $subTitle;
}

.tool-item i {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: $skillsColor;
}

.tool-item p {
  font-size: 0.9rem;
}
